
<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center" >
<div class="text-centre">
	<h1 class="font-weight-bold"> Choose the Best 20-Year Plumber Services in India</h1>
	<p>
		
		 With 20 years of experience under our belt, we bring unmatched expertise to every project we undertake.<br>
		 Over the years, we have honed our skills and perfected our craft, making us the go-to choice for all plumbing needs.
	</p>
	<button class="btn bg-primary btn-lg text-white">Get Start</button>
</div>
</section>
</body>
</html>
